<nav class="navbar navbar-top sticky-top shadow-sm bg-white navbar-expand px-3 mx-n3">
    <div class="container-fluid px-0">
      <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
        <div class="d-flex align-items-center">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link position-relative border py-2 ps-4 pe-5 me-2 active" aria-current="page" href="#">
                KDS機台設置
                <i data-feather="x" width="20" class="position-absolute top-50 me-2 end-0 translate-middle-y"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link position-relative border py-2 ps-4 pe-5 me-2" aria-current="page" href="#">
                KDS商品設置
                <i data-feather="x" width="20" class="position-absolute top-50 me-2 end-0 translate-middle-y"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- Navbar links -->
        <ul class="navbar-nav align-items-center">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle pt-1 px-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="media d-flex align-items-center">
                <img class="user-avatar md-avatar rounded-circle" alt="Image placeholder" src="@@path/assets/img/team/profile-picture.jpg">
                <div class="media-body ms-2 text-dark align-items-center d-none d-lg-block">
                  <span class="mb-0 font-small fw-bold">any user</span>
                </div>
              </div>
            </a>
            <div class="dropdown-menu dashboard-dropdown dropdown-menu-end mt-2 py-0">
              <a class="dropdown-item" href="#"><i data-feather="settings" class="me-2 align-top" width="20" height="20"></i> 設定</a>
              <a class="dropdown-item" href="javascript:translator.load('en')"><i data-feather="globe" class="me-2 align-top" width="20" height="20"></i> English</a>
              <a class="dropdown-item" href="javascript:translator.load('zh')"><i data-feather="globe" class="me-2 align-top" width="20" height="20"></i> 繁中</a>
              <div role="separator" class="dropdown-divider my-0"></div>
              <a class="dropdown-item rounded-bottom" href="#"><i data-feather="log-out" class="me-2 align-top" width="20" height="20"></i> 登出</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
</nav>